<p>
  <a href="<%= new_artist_path %>" class="btn btn-default" role="button">
    + Create new artist
  </a>
</p>
<p>Last added artists:</p>
<% @list.each do |i| %>
  <p><a href="<%= artist_path(i.id) %>"><%= i.title %></a></p>
<% end %>
